.seriesContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


@media (max-width: 600px) {
    .seriesContainer {
        display: block;
    }
}

.seriesContainerFull {
    overflow: auto;
}
