.seriesItem {
    display: grid;
    grid-template-columns: repeat(10, 65px);
}

@media (max-width: 735px) {
    .seriesItem {
        display: grid;
        grid-template-columns: repeat(10, 55px);
    }

    .subItem {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .seriesItem {
        display: grid;
        grid-template-columns: repeat(10, 45px);
    }

    .subItem {
        font-size: 12px;
    }
}
